doctype html
html(lang="en")
	include html/_head
	body 
		.wrapper.wrapper__container
			main.main-content
				button.button#createEvent Create a new event
				section.section__container
					.table__wrapper
						span.title Events
						table
							thead
								tr
									th #
									th.table-item__name Event name
									th Event Path
									th Event Date
									th Shoots/Users/Actions
									th Teams
							tbody
								tr.avail
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr.finished
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr.avail
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr.finished
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr.avail
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr.finished
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr.avail
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr.finished
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
								tr
									td 1
									td.table-item__name
										a(title="https://expochat.meyou.id/exhibitor/642bed7d22563a0cadf09edc?su=vF2zRt9Zxukg5DiUmXVzueeJHR7ncdGj")
											div
											span ap040423
									td /ap010123
									td 4/4/2023 - 4/5/2023
									td 10/6
									td 3
						ul.paggination
							li(data-href="1")._active 1
							li(data-href="2")._2 2
							li(data-href="3")._3 3
							li(data-href="4")._4 4
						div.chat-options#pre-buttons
							.header
								span._icon-arrow-left.close
							.body
								ul
									li
										input(type="text", placeholder="new pre-button", value="")
									li
										input(type="text", placeholder="new pre-button", value="")
									li
										input(type="text", placeholder="new pre-button", value="")
									li
										input(type="text", placeholder="new pre-button", value="")
									li
										input(type="text", placeholder="new pre-button", value="")
								button.button.button-circle._icon-plus(style="display: none")
								button.button.button-black._fw#saveOpeners Save
					#pre-buttons.chat-options(data-type='visitor')
						.header
							span._icon-arrow-left.close
							h2 Pre buttons settings
						.body
							ul
								li
									input(type='text' placeholder='new pre-button' value='')
								li
									input(type='text' placeholder='new pre-button' value='')
								li
									input(type='text' placeholder='new pre-button' value='')
								li
									input(type='text' placeholder='new pre-button' value='')
								li
									input(type='text' placeholder='new pre-button' value='')
							button.button.button-circle._icon-plus(style='display: none')
							button#saveOpeners.button.button-black Save
					footer
						h3 Pre buttons settings
						div
							button(data-type="visitor").button Visitors 
							button(data-type="exhibitor").button Exhibitors 
							button(data-type="moderator").button Moderators
		script(src="js/app.min.js")